// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__width: ''; // for the fixed width layout
@layout__max-width: 1366px;
@layout-indent__width: 15px;
@layout__width-xs-indent: 15px;

//  Classnames defining different layouts
@layout-class-1column: page-layout-1column;
@layout-class-2columns__left: page-layout-2columns-left;
@layout-class-2columns__right: page-layout-2columns-right;
@layout-class-3columns: page-layout-3columns;

//  Variables used for layout grid
@total-columns: 12;
@gutter-width: 0;

//  Variables for layout columns
@layout-column__width: @total-columns;
@layout-column__sidebar-width: 2;
@layout-column__left-width: @layout-column__sidebar-width;
@layout-column__right-width: @layout-column__sidebar-width;

//  Variables for layout columns depending on layout used
@layout-column-main__width-1: 100%;
@layout-column-main__width-2-left: @layout-column__width - @layout-column__left-width;
@layout-column-main__width-2-right: @layout-column__width - @layout-column__right-width;
@layout-column-main__width-3: @layout-column__width - @layout-column__left-width - @layout-column__right-width;

//  Checkout columns width
@layout-column-checkout__width-left: 3;
@layout-column-checkout__width-main: @layout-column__width - @layout-column-checkout__width-left;


@layout-column-width-1: 8.333333%;
@layout-column-width-2: 16.666667%;
@layout-column-width-3: 25%;
@layout-column-width-4: 33.333333%;
@layout-column-width-5: 41.666667%;
@layout-column-width-6: 50%;
@layout-column-width-7: 58.333333%;
@layout-column-width-8: 66.666667%;
@layout-column-width-9: 75%;
@layout-column-width-10: 83.333333%;
@layout-column-width-11: 91.666667%;
@layout-column-width-12: 100%;
