<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<small class="copyright">
    <span><?= /* @escapeNotVerified */ $block->getCopyright() ?></span>
</small>
<script type="text/javascript">
require(['jquery'],function($){
	$(document).ready(function () {	
		$('.link_box').click(function() {
	    	var $article = $(this).find('.sub-menu');
			if (!$article.is(':visible')) {
			    $article.slideDown();  //or .fadeIn() or .show()
			} else {
			    $article.slideUp();    //or .fadeOut() or .hide()
			}
		});
	});	  
});
</script>