// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-yellow;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-black;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }
    html body {
       font-family : @font-family__base;
    }

    html .page-wrapper {
        overflow: hidden;
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
    }

    .page-header {
      background-color: @color-blue;
      margin: 0px;
    }

    

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding: 12px 15px 0;
            position: relative;
        }
        .shipping_advice {
            float: left;
            width: auto;
            padding: 13px 0px 0px 30px;
             a {
               color: @color-white;
               text-decoration:none;
               font-size: @font-size__xs14;
               font-weight: @font-weight__bold;
               line-height: @line-height__16;
                 span {
                   font-size: @font-size__xs18;
                 }
             }
             a ~ a {
                color: @color-orangeF68E32;
             }
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 195px;
        padding-right: 0px;
        width: 100%;
        position: relative;
        z-index: 5;

        img {
            display: block;
            width:100%;
            height:auto;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Desktop Home page BLOG listing custom css 
    //  _____________________________________________

    .home-grid {
        background-color: @color-white;
        margin-top: 33px;
           .container {
                padding: 0 20px 40px;
            }
            .blog-articles {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                width:100%;
                padding-right: 28px;
            }
            .video-articles {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                width:100%;
                padding-left: 28px;
            }
            .blog-top {
                margin-top: 60px;
            }
            .home-blog-title {
                color: @color-black;
                text-align: left;
                float: left;
                margin: 10px 0 40px 0;
                font-size: @font-size__xs25;
                font-weight: @font-weight__semibold;
            }
            .home-blog-button {
                display: block;
                float: right;
                 a {
                    padding: 0px 12px;
                    height:44px; 
                    line-height:44px;
                    background-color: @color-blue094a9e;
                    color: @color-white;
                    border-radius: 5px;
                    float: left;
                    margin-left: 20px;
                    font-weight: @font-weight__semibold;
                    font-size: @font-size__xs16;
                    text-decoration: none;
                     &:hover {
                        text-decoration: none;
                        opacity: .7;
                        color: #fff;
                     }
                 }
            }
            .home-blog-button-youtube {
                display: block;
                float: right;
                a {
                    padding: 0px 12px;
                    height:44px; 
                    line-height:44px;
                    background-color: @color-redd44747;
                    color: @color-white;
                    border-radius: 5px;
                    float: left;
                    margin-left: 20px;
                    font-weight: @font-weight__semibold;
                    font-size: @font-size__xs16;
                    text-decoration: none;
                     &:hover {
                        text-decoration: none;
                        opacity: .7;
                        color: #fff;
                     }
                 }
            }
        .card {
            border: 0;
            background-color: transparent;
            padding: 0;
            margin-top: 0;
            line-height: 1.5em;
            .blog-image {
                padding: 0;
                margin: 10px 0px 0px 0px;
                width: 100%; 
                height:auto;
            }
            .card-footer {
                border: 0;
                background-color: transparent;
                padding: 0;
                margin: 0;
                line-height: 1.5em;
                display:inline-block;
                vertical-align:top;
                width:100%;
                 a {
                    color: @color-blue094a9e;
                    margin-top: 0;
                    display: block;
                    font-weight: @font-weight__bold;
                    font-size:@font-size__xs14;
                    text-decoration: none;
                    line-height: @line-height__l;
                     &:hover{
                       text-decoration: underline;
                     }
                 }
            }
        }
        .card-img-top {
            border-radius: 0;
        }

    }

    html body .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gutters > .col, 
    .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }


    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    html .message.global.demo {
        padding-top: 7px;
        padding-bottom: 6px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: @font-size__xs14;
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @footer__background-color);
        margin-top: auto;
    }

    .footer {
        .footer-container {
           footer {
              margin-left: auto;
              margin-right: auto;
              max-width: 1366px;
              width: 100%;
              color: @color-white;
              padding: 30px 0 0;
                .footer-links-block {
                    margin-top: -10px;
                }
            }
            text-align: left;
               .footer-logo {
                    text-align: left;
                    float: left;
                    width: 100%;
                    margin: 0px;
                   img {
                      width: 193px;
                      height: auto;
                      margin-bottom: 30px;
                      float: left;
                   }
               }
            .blog-btn-footer {
                button {
                  display: none;
                }
            }
            address {
                float: left;
                text-align: left;
                line-height: @line-height__l;
                margin-bottom: 16px;
            }
            .footer_social {
                float: left;
                p {
                  padding: 7px 0;
                }
                a {
                  display: inline-block;
                  margin-right: 4px;
                   &:hover {
                    opacity: .7;
                   }
                }
                img {
                  width:auto;
                  margin-bottom: 27px;
                  float: left;
                }
            }
            a {
              color: @color-white;
              text-decoration: none;
                 &:hover{
                   color: @color-white;
                   opacity: .7;
                 }
            }
            .footer_link {
               display: grid;
               grid-template-columns: repeat(4,1fr);
               text-align: left;
                span.h2 {
                    font-size: @font-size__xs22;
                    font-weight: @font-weight__bold;
                    color: @color-white;
                    margin-bottom: 15px;
                    display: block;
                    margin-top: 10px;
                    text-transform: none;
                    pointer-events: none;
                }
                .fo-h2-mobile {
                    font-size: @font-size__xs22;
                    font-weight: @font-weight__bold;
                    color: @color-white;
                    margin-bottom: 15px;
                    display: block;
                    margin-top: 10px;
                    text-transform: none;
                    pointer-events: none;
                    display: none;
                }
               ul {
                 margin:0px;
                 padding:0px;
                   li {
                     margin:0px 0px 5px 0px;
                     padding:0px;
                     list-style-type: none;
                     line-height: @line-height__18;
                       a {
                         font-size: @font-size__xs16;
                         color: @color-white;
                         text-decoration: none;
                         font-weight: @font-weight__regular;
                           &:hover{
                              opacity: .7;
                              color: @color-white;
                           }
                       }
                   }
               }
            }

            .home-newsletter {
                margin: -1px 0px 0px;
                .container {
                  padding: 0px;
                }
               .single {
                    .newsletter-title-text {
                        font-size: @font-size__xs25;
                        font-weight: @font-weight__semibold;
                        color: @color-orangeF68E32;
                        margin-bottom: 15px;
                        font-style: normal;
                        line-height: @line-height__30;
                        text-rendering: optimizeLegibility;
                        display: block;
                    }
                    
               }
            }
            .block.newsletter  {
                margin-bottom: 25px;
                .newsletter {
                    margin: 0px;
                    float: left;
                    width: 59.5%;
                    margin: 0;
                     .control {
                       &:before{
                         display:none;
                       }
                       input {
                         display: block;
                            width: 100%;
                            height: 47px;
                            padding: .375rem .75rem;
                            font-size: @font-size__xs16;
                            line-height: @line-height__l;
                            color: @color-gray495057;
                            background-color: @color-white;
                            border: 1px solid @color-gray979797 !important;
                            background-clip: padding-box;
                            border-radius: 3px;
                            transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out;
                        }
                     }
                }
                .actions {
                    display: block;
                    float: left;
                    width: 40.5%;
                    padding: 0 0px 0px 15px;
                      .subscribe  {
                        width: 100%;
                        display: inline-block;
                        font-weight: @font-weight__regular;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        border: 1px solid transparent;
                        padding: .375rem .75rem;
                        color: @color-white;
                        background: @color-orangeF68E32;
                        font-size: @font-size__xs16;
                        line-height: @line-height__l;
                        border-radius: .25rem;
                        transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
                    }
                    .subscribe  {
                        min-height: 47px;
                        background: @color-orangeF68E32;
                        color: @color-white;
                        font-size: @font-size__xs16;
                        text-transform: uppercase;
                        margin-left: 0px;
                        width: 100%;
                        padding: 0px 0;
                         &:hover {
                           opacity: 0.7;
                         }
                    }
                }
            }
        }
    }

    .block.newsletter .field .control *::-webkit-input-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block.newsletter .field .control *:-moz-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block.newsletter .field .control *::-moz-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block.newsletter .field .control *:-ms-input-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .end_footer {
        clear: both;
        background: @color-gerd29363D;
        display: flex;
        padding: 0 15px;
        min-height: 60px;
        padding-top: 15px;
        .pull-left {
            float: left;
        }
        .pull-right {
            float: right;
        }
        .copyright {
            display: inline-block;
            vertical-align: middle;
            color: @color-white;
            font-size: @font-size__xs14;
            font-weight: @font-weight__regular;
            padding-top: 10px;
             span {
               color: @color-white;
               font-size: @font-size__xs14;
             }
        }
        .footer_logos_pago {
          ul {
             margin:0px;
             padding:0px;
               li {
                 margin:0px;
                 padding:0px;
                 display: inline-block;
                 vertical-align:top;
                 margin-right: 4px;
                 list-style-type: none;
                   ul{
                     margin-left: 20px;
                   }
                   a{
                    text-decoration: none;
                    outline: none;
                    border: none;
                        &:hover{
                            opacity:0.7;
                        }
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: @color-white;
                        font-size: @font-size__xs14;
                        font-weight: @font-weight__regular; 
                        line-height: 32px;
                    }
                    img {
                      border: none;
                      text-decoration: none;
                      vertical-align: middle;
                      outline: none;
                    }
               }
          }
        }
    }

    html body.cms-brildor-homepage .page-main .columns .column.main {
        padding-bottom: 0px;
    }

    
    

    .footer {
        border: none;
        .footer-container {
            background: @color-geen37474f;
            max-width: 100%;
            padding: 0 30px;
            text-align: center;
        }
        &.content {
            border-top: 1px solid @border-color__base;
            margin-top: 25px;
            padding-bottom: 25px;
            padding-top: 25px;

            ul {
                &:extend(.abs-reset-list all);
            }

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }
        }

        .copyright,
        .bugs {
            display: block;
            margin: 20px 0 0;
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            padding: @indent__l @indent__base 0;
            padding: 12px 15px 0;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
        }

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .logo {
        margin: 1px auto 9px 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        border: none;
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }
}



@media all and (max-width: @screen__1280xx) { 
    .header.content {
        padding: 30px 15px 0;
    }
    .end_footer .copyright {
      padding-top: 7px;
    }
    .end_footer {
      padding: 0 0px;
    }
}

@media all and (max-width: @screen__1199xx) { 

  .home-grid {
     .home-blog-title {
        min-height: 60px;
      }
  }

}

@media all and (max-width: @screen__1140xx) { 

  .footer .footer-container {
    padding: 0 15px;
  }

}

@media all and (max-width: @screen__991xx) {

    html .logo {
        max-width: 160px;
        margin: 7px auto 15px 0;
        padding-right: 10px;
    }

    .footer {
        .footer-container {
            .footer-logo {
              width: 100%;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
              flex: 0 0 100%;
              max-width: 100%;
                address {
                   width: 100%;
                }
            }
            .footer-links-block {
                width: 100%;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .block {
                &.newsletter {
                   .actions {
                      .subscribe {
                          width: 100%;
                          padding: 0;
                      }
                   }
                }
            }
        }
    }

    .footer .footer-container .footer_link ~ row .col-md-4 {
      display: none;
    }

    .footer .footer-container .footer_link ~ row .col-md-8 {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 19px 0px 3px;
    }

    .end_footer {
       .pull-left {
          width: 100%;
          text-align: center;
        }
        .copyright {
          padding-bottom: 10px;
        }
        .pull-right {
          width: 100%;
          text-align: center;
          padding-bottom: 11px;
        }
    }

    .home-grid {
         .home-blog-title {
            margin: 10px 0 25px 0;
            min-height: auto;
          }
       .blog-articles {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding-right: 15px;
          padding-bottom: 50px;
        }
        .video-articles {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          padding-left: 15px;
        }
    }

}

@media all and (max-width: @screen__767xx) {
    
    html .message.global.demo {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .header.content {
      padding: 9px 15px 0;
    }
    html .page-header {
        border-bottom: 0px solid #d1d1d1;
        margin-bottom: 0px;
        min-height: 100px;
        position: relative;
    }
    html .logo {
      max-width: 100px;
      margin: 7px auto 10px 0;
      padding-right: 0px;
    }

    .footer .footer-container .blog-btn-footer button.btn {
        display: inline-block !important;
    }

      .footer {
          .footer-container {
            .footer_link {
              display: block;
              grid-template-columns: none;
              text-align: center;
              span {
                &.h2 {
                  display: none
                }
              }
              div{
               &.h2 {
                 &.fo-h2-mobile {
                   display: block;
                 }
               }
              }
              ul {
                &.sub-menu {
                  display: none;
                }
              }
            }
            .footer-logo {
              text-align: center;
               img {
                  float: none;
               }
            }
            address {
              text-align: center;
            }
            .footer_social {
              float: none;
            }
          }
      }
      .header {
        .shipping_advice {
           display: none;
        }
      }

}

@media all and (max-width: @screen__479xx) {

  .home-grid {
     .home-blog-button-youtube {
        width: 100%;
         a {
            padding: 0px 10px;
            font-size: 13px;
            margin: 0;
            width: 100%;
            text-align: center;
          }
     }
     .home-blog-button {
       width: 100%;
         a {
            padding: 0px 10px;
            font-size: 13px;
            margin: 0;
            width: 100%;
            text-align: center;
          }
     }
     .home-blog-title {
        font-size: 19px;
        padding: 0px 11px 0px 0px;
        line-height: normal;
      }
  }

    .footer .footer-container .block.newsletter .actions {
        padding: 0 0px 0px 7px;
    }

    .end_footer .copyright {
        padding-bottom: 0px;
    }

}