// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    ._keyfocus :focus, 
    input:not([disabled]):focus, 
    textarea:not([disabled]):focus, 
    select:not([disabled]):focus {
        box-shadow: none;
    }
    
    .block-search {
        float: left;
        padding-left: 30px;
        position: relative;
        width: 51.1%;
        margin-top: 4px;
        z-index: 4;

        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0px 0px 19px 0px;
            padding: 0 0 0px;
        }

        .nested {
            display: none;
            padding-top: 5px;
            position: absolute;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-text-hide: true,
            @_icon-font-color: @header-icons-color
            );
            .lib-button-reset();
            padding: @indent__xs 0;
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 1;

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }
        .action.search {
            background-color: @color-orangeF68E32;
            border: 0px solid @color-orangeF68E32;
            border-radius: 0px 5px 5px 0px;
            height: 100%;
            line-height:45px;
            min-width:50px;
            padding:0px;
            margin: 0;
            right: 0;
            top: 0px;
            opacity: 1 !important;
            color: @color-white; 
             &:before{
               font-size: 22px;
                line-height: 45px;
                color: @color-white;
             }
        }
    }

    .block-search .control *::-webkit-input-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block-search .control *:-moz-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block-search .control *::-moz-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block-search .control *:-ms-input-placeholder {
      color: @color-black6c757d;
      font-size: @font-size__xs14;
      font-family: @font-family__base;
      font-weight: @font-weight__regular;
      opacity: 1;
    }

    .block-search .block-content {
        position: relative;
    }

    .search-autocomplete {
        margin-top: 0;
    }

    html .block-search .action.search:before {
        font-size: 20px;
        color: #fff;
        content: "\f002";
        text-align: center;
        font-family: FontAwesome;
    }

    .block-search {
        margin-bottom: 0;
        width: 51.1%;
        margin-top:4px;
        padding-left: 30px;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
        }

        .label {
            .lib-icon-font(
            @_icon-font-content: @icon-search,
            @_icon-font-size: 35px,
            @_icon-font-line-height: 33px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover,
            @_icon-font-color-active: @header-icons-color-hover,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            float: right;

            &.active {
                + .control {
                    input {
                        position: static;
                    }
                }
            }
        }

        .action.search {
            display: none;
        }

        .control {
            border-top: 1px solid @border-color__base;
            clear: both;
            margin: 0 -@layout__width-xs-indent -1px;
            padding: 0 @layout__width-xs-indent;
        }

        input {
            left: -300%;
            margin: 15px 0;
            padding: 0px 65px 0px 19px;
            font-size: 14px;
            font-family: 'cabin', Arial;
            font-weight: 400;
            color: @color-gray656565;
            height: 47px;
            line-height:47px;
            border-radius: 5px;
            background-color: @color-white;
            border: 1px solid @color-gray979797;
            position: absolute;
        }

         .action.search {
            background-color: @color-orangeF68E32;
            border: 0px solid @color-orangeF68E32;
            border-radius: 0px 5px 5px 0px;
            height: 100%;
            line-height:45px;
            min-width:50px;
            padding:0px;
            margin:0px;
            right: 0;
            top: 0px;
            opacity: 1 !important;
            color: @color-white; 
            &:hover {
              background-color: @color-orangeff9e42;
              border: 1px solid @color-orangeff9e42;
            }
             &:before{
               font-size: 22px;
                line-height: 45px;
                color: @color-white;
             }
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        &:extend(.abs-add-box-sizing all);
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;

        ul {
            .lib-list-reset-styles();

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:not(:empty) {
                    border-top: 0;
                    .lib-css(border, @autocomplete__border);
                    .lib-css(background, @autocomplete__background-color);
                }

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search.summary {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .block-search {
        .block-content {
            margin-bottom: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .block-search {
        margin-top: @indent__s;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block-search {
        float: left;
        padding-left: 30px;
        position: relative;
        width: 51.1%;
        margin-top: 4px;
        z-index: 4;

        .label {
            &:extend(.abs-visually-hidden-desktop all);
        }

        .control {
            border-top: 0;
            margin: 0px 0px 19px 0px;
            padding: 0 0 0px;
        }

        .nested {
            display: none;
            padding-top: 5px;
            position: absolute;
        }

        input {
            .lib-input-placeholder(@form-element-input-placeholder__color);
            margin: 0;
            padding-right: 35px;
            position: static;
        }

        .action.search {
            display: inline-block;
            .lib-button-icon(
            @_icon-font-content: @icon-search,
            @_icon-font-text-hide: true,
            @_icon-font-color: @header-icons-color
            );
            .lib-button-reset();
            padding: @indent__xs 0;
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 1;

            &:focus {
                &:before {
                    .lib-css(color, @color-gray20);
                }
            }
        }
        .action.search {
            background-color: @color-orangeF68E32;
            border: 0px solid @color-orangeF68E32;
            border-radius: 0px 5px 5px 0px;
            height: 100%;
            line-height:45px;
            min-width:50px;
            padding:0px;
            margin: 0;
            right: 0;
            top: 0px;
            opacity: 1 !important;
            color: @color-white; 
             &:before{
               font-size: 22px;
                line-height: 45px;
                color: @color-white;
             }
        }
    }

    .search-autocomplete {
        margin-top: 0;
    }
}

@media all and (max-width: @screen__991xx) {

    html .block-search {
        width: 43%;
    }

}

@media all and (max-width: @screen__767xx) {

    html .block-search {
        width: auto;
        position: absolute;
        padding: 0px 0px;
        left: 15px;
        right: 15px;
        top: 100%;
        margin: 0;
    }
    .block-search .control {
        border-top: 0;
        clear: none;
        margin: 0;
        padding: 0 0px;
    }
    .block-search input {
        left: 0;
        margin: 0px 0;
        padding: 0px 55px 0px 12px;
        height: 38px;
        line-height: 38px;
        position: static;
    }
    .block-search .label {
        display: none;
    }
    .block-search .action.search {
        height: 100%;
        line-height: 36px;
        min-width: 51px;
        display: block;
    }
    .block-search .action.search:before {
        line-height: 34px;
    }

}