// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 2;

@product-grid-items-per-row-layout-1-screen-s: 3;
@product-grid-items-per-row-layout-1-screen-m: 4;
@product-grid-items-per-row-layout-1-screen-l: 5;

@product-grid-items-per-row-layout-2-left-screen-s: 3;
@product-grid-items-per-row-layout-2-left-screen-m: 4;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 3;
@product-grid-items-per-row-layout-2-right-screen-m: 4;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 3;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Category view
    //  ---------------------------------------------

    .old-price,
    .old.price {
        text-decoration: line-through;
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ': ';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                .price {
                    .lib-font-size(11);
                }

                &:before {
                    content: ' +' attr(data-label) ': ';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  ---------------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 0 0px 97% 0px !important;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  ---------------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
            margin: @indent__s 0;
        }

        .product.thumbs {
            margin: @indent__base 0 @indent__l;
        }

        .items.thumbs {
            .lib-list-inline();

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-resize(
            @_th-padding-left: 0,
            @_th-padding-right: @indent__l,
            @_th-padding-bottom: @indent__s,
            @_td-padding-bottom: @indent__s
            );
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                line-height: @line-height__base;
                margin-bottom: @indent__s;
            }
        }

        .stock {
            &.available,
            &.unavailable {
                display: inline-block;
                font-weight: @font-weight__bold;
                margin-right: @indent__base;
                text-transform: uppercase;
                vertical-align: top;
            }
        }

        .product {
            &.attribute {
                &.sku {
                    display: inline-block;
                    vertical-align: top;
                    .lib-css(color, @text__color__muted);

                    > .value {
                        display: inline-block;
                        vertical-align: top;
                        word-break: break-all;
                    }

                    .type {
                        margin-right: @indent__xs;
                    }
                }

                &.overview {
                    margin: @indent__base 0;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .price-box {
            margin-top: @indent__s;
        }

        .product-reviews-summary .reviews-actions {
            .lib-font-size(@font-size__base);
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__bold);
                .lib-css(margin, 0 0 @indent__xs);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                        .lib-css(margin, @form-field-label-asterisk__margin);
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
            }

            .price-notice {
                &:extend(.abs-adjustment-incl-excl-tax all);
            }
        }
    }

    .product-info-main,
    .product-options-bottom {
        .price-box {
            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;
                margin-bottom: @indent__xs;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }

            .price-wrapper .price {
                .lib-font-size(18);
                font-weight: @font-weight__bold;
            }

            .price {
                white-space: nowrap;
            }
        }

        .special-price {
            display: block;
            margin: @indent__s 0;

            .price-container {
                .lib-font-size(14);
            }

            .price-label + .price-wrapper {
                display: inline-block;
            }
        }

        .old-price,
        .special-price {
            .price-label {
                &:after {
                    content: ': ';
                }
            }
        }

        .box-tocart {
            margin: @indent__base 0;

            .field.qty {
                padding-right: .75 * @indent__base;
            }

            .input-text.qty {
                @tocart-input-size: @button__line-height__l + 28px;
                height: @tocart-input-size + 2px;
                text-align: center;
                width: @tocart-input-size + 2px;
            }

            .actions {
                text-align: center;
            }

            .action.tocart {
                &:extend(.abs-button-l all);
            }
        }

        .product-addto-links {
            margin: @indent__base 0;
        }

        .action.tocompare {
            &:extend(.abs-action-addto-product all);
            vertical-align: top;
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        .lib-css(background, @sidebar__background-color);
        margin: @indent__s 0;
        padding: @indent__s (.75 * @indent__base);

        .price-container {
            display: inline-block;
        }

        .price-including-tax,
        .price-excluding-tax,
        .weee {
            display: inline-block;

            .price {
                .lib-font-size(14);
                font-weight: @font-weight__bold;
            }
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    .block.related {
        .action.select {
            margin: 0 @indent__xs;
        }
    }

    //
    //  Sidebar product view
    //  ---------------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                .lib-font-size(12);
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  ---------------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  ---------------------------------------------

        .product-items-names {
            .product-item {
                display: flex;
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }

    .product-info-main .box-tocart {
        .actions {
            .action.tocart {
                &:extend(.abs-button-responsive-smaller all);
            }
        }
    }

    .block.related {
        .action.select {
            display: block;
            margin: @indent__xs 0;
        }
    }

    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
        display: none;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main,
    .product-options-bottom {
        .box-tocart {
            display: table;

            .field.qty {
                display: table-cell;
            }

            .actions {
                display: table-cell;
                padding-top: @indent__m;
                text-align: center;
                vertical-align: bottom;
            }
        }
    }

    .product-info-main {
        .page-title-wrapper {
            .page-title {
                margin-top: -13px;
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    .product-add-form {
        &:extend(.abs-revert-field-type-desktop all);
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Category page layout
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .page-layout-1column {
        .product-info-main {
            width: 40%;
        }
        .product.media {
            width: 57%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  ---------------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
    }

    .table-comparison {
        table-layout: fixed;

        .cell.label.remove,
        .cell.label.product {
            span {
                &:extend(.abs-visually-hidden all);
            }
        }

        .cell.label,
        td:last-child {
            border-right: @table__border-width @table__border-style @table__border-color;
        }

        .cell {
            padding: 15px;
            width: 140px;

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }

            &.product.info,
            &.product.label {
                border-bottom: @table__border-width @table__border-style @table__border-color;
            }

            &.label {
                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.attribute {
                .lib-font-size(13);
                img {
                    height: auto;
                    max-width: 100%;
                }
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action.split,
            .action.toggle {
                .lib-button-s();
            }

            .action.toggle {
                padding: 0;
            }
        }

        .cell.remove {
            padding-bottom: 0;
            padding-top: 0;
            text-align: right;

            .action.delete {
                &:extend(.abs-remove-button-for-blocks all);
            }
        }

        .product-item-actions {
            > .actions-primary {
                + .actions-secondary {
                    margin-top: @indent__s;
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @page__background-color);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action {
            &.delete {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }

            &.compare {
                &:extend(.abs-revert-secondary-color all);
            }
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }
    }
}


//
//  Desktop Home page product listing custom css 
//  _____________________________________________

.col-1{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-1;
  flex: 0 0 @layout-column-width-1;
  max-width: @layout-column-width-1;
}
.col-2{
      -webkit-box-flex: 0;
    -ms-flex: 0 0 @layout-column-width-2;
    flex: 0 0 @layout-column-width-2;
    max-width: @layout-column-width-2;
}
.col-3{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-3;
  flex: 0 0 @layout-column-width-3;
  max-width: @layout-column-width-3;
}
.col-4{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-4;
  flex: 0 0 @layout-column-width-4;
  max-width: @layout-column-width-4;
}
.col-5{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-5;
  flex: 0 0 @layout-column-width-5;
  max-width: @layout-column-width-5;
}
.col-6{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-6;
  flex: 0 0 @layout-column-width-6;
  max-width: @layout-column-width-6;
}
.col-7{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-7;
  flex: 0 0 @layout-column-width-7;
  max-width: @layout-column-width-7;
}
.col-8{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-8;
  flex: 0 0 @layout-column-width-8;
  max-width: @layout-column-width-8;
}
.col-9{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-9;
  flex: 0 0 @layout-column-width-9;
  max-width: @layout-column-width-9;
}
.col-10{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-10;
  flex: 0 0 @layout-column-width-10;
  max-width: @layout-column-width-10;
}
.col-11{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-11;
  flex: 0 0 @layout-column-width-11;
  max-width: @layout-column-width-11;
}
.col,
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-12;
  flex: 0 0 @layout-column-width-12;
  max-width: @layout-column-width-12;
}

@media all and (min-width: @screen__199xx) { 
    
    .col-xs-1{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-1;
      flex: 0 0 @layout-column-width-1;
      max-width: @layout-column-width-1;
    }
    .col-xs-2{
          -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-2;
      flex: 0 0 @layout-column-width-2;
      max-width: @layout-column-width-2;
    }
    .col-xs-3{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-3;
      flex: 0 0 @layout-column-width-3;
      max-width: @layout-column-width-3;
    }
    .col-xs-4{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-4;
      flex: 0 0 @layout-column-width-4;
      max-width: @layout-column-width-4;
    }
    .col-xs-5{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-5;
      flex: 0 0 @layout-column-width-5;
      max-width: @layout-column-width-5;
    }
    .col-xs-6{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-6;
      flex: 0 0 @layout-column-width-6;
      max-width: @layout-column-width-6;
    }
    .col-xs-7{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-7;
      flex: 0 0 @layout-column-width-7;
      max-width: @layout-column-width-7;
    }
    .col-xs-8{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-8;
      flex: 0 0 @layout-column-width-8;
      max-width: @layout-column-width-8;
    }
    .col-xs-9{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-9;
      flex: 0 0 @layout-column-width-9;
      max-width: @layout-column-width-9;
    }
    .col-xs-10{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-10;
      flex: 0 0 @layout-column-width-10;
      max-width: @layout-column-width-10;
    }
    .col-xs-11{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-11;
      flex: 0 0 @layout-column-width-11;
      max-width: @layout-column-width-11;
    }
    .col-xs-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-12;
      flex: 0 0 @layout-column-width-12;
      max-width: @layout-column-width-12;
    }
    
}

@media all and (min-width: @screen__576xx) { 
    
    .col-sm-1{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-1;
      flex: 0 0 @layout-column-width-1;
      max-width: @layout-column-width-1;
    }
    .col-sm-2{
          -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-2;
      flex: 0 0 @layout-column-width-2;
      max-width: @layout-column-width-2;
    }
    .col-sm-3{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-3;
      flex: 0 0 @layout-column-width-3;
      max-width: @layout-column-width-3;
    }
    .col-sm-4{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-4;
      flex: 0 0 @layout-column-width-4;
      max-width: @layout-column-width-4;
    }
    .col-sm-5{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-5;
      flex: 0 0 @layout-column-width-5;
      max-width: @layout-column-width-5;
    }
    .col-sm-6{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-6;
      flex: 0 0 @layout-column-width-6;
      max-width: @layout-column-width-6;
    }
    .col-sm-7{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-7;
      flex: 0 0 @layout-column-width-7;
      max-width: @layout-column-width-7;
    }
    .col-sm-8{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-8;
      flex: 0 0 @layout-column-width-8;
      max-width: @layout-column-width-8;
    }
    .col-sm-9{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-9;
      flex: 0 0 @layout-column-width-9;
      max-width: @layout-column-width-9;
    }
    .col-sm-10{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-10;
      flex: 0 0 @layout-column-width-10;
      max-width: @layout-column-width-10;
    }
    .col-sm-11{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-11;
      flex: 0 0 @layout-column-width-11;
      max-width: @layout-column-width-11;
    }
    .col-sm-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-12;
      flex: 0 0 @layout-column-width-12;
      max-width: @layout-column-width-12;
    }
    
}

@media all and (min-width: @screen__m) { 
    
    .col-md-1{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-1;
      flex: 0 0 @layout-column-width-1;
      max-width: @layout-column-width-1;
    }
    .col-md-2{
          -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-2;
      flex: 0 0 @layout-column-width-2;
      max-width: @layout-column-width-2;
    }
    .col-md-3{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-3;
      flex: 0 0 @layout-column-width-3;
      max-width: @layout-column-width-3;
    }
    .col-md-4{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-4;
      flex: 0 0 @layout-column-width-4;
      max-width: @layout-column-width-4;
    }
    .col-md-5{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-5;
      flex: 0 0 @layout-column-width-5;
      max-width: @layout-column-width-5;
    }
    .col-md-6{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-6;
      flex: 0 0 @layout-column-width-6;
      max-width: @layout-column-width-6;
    }
    .col-md-7{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-7;
      flex: 0 0 @layout-column-width-7;
      max-width: @layout-column-width-7;
    }
    .col-md-8{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-8;
      flex: 0 0 @layout-column-width-8;
      max-width: @layout-column-width-8;
    }
    .col-md-9{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-9;
      flex: 0 0 @layout-column-width-9;
      max-width: @layout-column-width-9;
    }
    .col-md-10{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-10;
      flex: 0 0 @layout-column-width-10;
      max-width: @layout-column-width-10;
    }
    .col-md-11{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-11;
      flex: 0 0 @layout-column-width-11;
      max-width: @layout-column-width-11;
    }
    .col-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-12;
      flex: 0 0 @layout-column-width-12;
      max-width: @layout-column-width-12;
    }
    
}

@media all and (min-width: @screen__992xx) { 
    
    .col-lg-1{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-1;
      flex: 0 0 @layout-column-width-1;
      max-width: @layout-column-width-1;
    }
    .col-lg-2{
          -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-2;
      flex: 0 0 @layout-column-width-2;
      max-width: @layout-column-width-2;
    }
    .col-lg-3{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-3;
      flex: 0 0 @layout-column-width-3;
      max-width: @layout-column-width-3;
    }
    .col-lg-4{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-4;
      flex: 0 0 @layout-column-width-4;
      max-width: @layout-column-width-4;
    }
    .col-lg-5{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-5;
      flex: 0 0 @layout-column-width-5;
      max-width: @layout-column-width-5;
    }
    .col-lg-6{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-6;
      flex: 0 0 @layout-column-width-6;
      max-width: @layout-column-width-6;
    }
    .col-lg-7{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-7;
      flex: 0 0 @layout-column-width-7;
      max-width: @layout-column-width-7;
    }
    .col-lg-8{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-8;
      flex: 0 0 @layout-column-width-8;
      max-width: @layout-column-width-8;
    }
    .col-lg-9{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-9;
      flex: 0 0 @layout-column-width-9;
      max-width: @layout-column-width-9;
    }
    .col-lg-10{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-10;
      flex: 0 0 @layout-column-width-10;
      max-width: @layout-column-width-10;
    }
    .col-lg-11{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-11;
      flex: 0 0 @layout-column-width-11;
      max-width: @layout-column-width-11;
    }
    .col-lg-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 @layout-column-width-12;
      flex: 0 0 @layout-column-width-12;
      max-width: @layout-column-width-12;
    }
    
}

@media all and (min-width: @screen__12xx) { 
    
.col-xl-1{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-1;
  flex: 0 0 @layout-column-width-1;
  max-width: @layout-column-width-1;
}
.col-xl-2{
      -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-2;
  flex: 0 0 @layout-column-width-2;
  max-width: @layout-column-width-2;
}
.col-xl-3{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-3;
  flex: 0 0 @layout-column-width-3;
  max-width: @layout-column-width-3;
}
.col-xl-4{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-4;
  flex: 0 0 @layout-column-width-4;
  max-width: @layout-column-width-4;
}
.col-xl-5{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-5;
  flex: 0 0 @layout-column-width-5;
  max-width: @layout-column-width-5;
}
.col-xl-6{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-6;
  flex: 0 0 @layout-column-width-6;
  max-width: @layout-column-width-6;
}
.col-xl-7{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-7;
  flex: 0 0 @layout-column-width-7;
  max-width: @layout-column-width-7;
}
.col-xl-8{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-8;
  flex: 0 0 @layout-column-width-8;
  max-width: @layout-column-width-8;
}
.col-xl-9{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-9;
  flex: 0 0 @layout-column-width-9;
  max-width: @layout-column-width-9;
}
.col-xl-10{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-10;
  flex: 0 0 @layout-column-width-10;
  max-width: @layout-column-width-10;
}
.col-xl-11{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-11;
  flex: 0 0 @layout-column-width-11;
  max-width: @layout-column-width-11;
}
.col-xl-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 @layout-column-width-12;
  flex: 0 0 @layout-column-width-12;
  max-width: @layout-column-width-12;
}

}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.portfolio-item {
    padding: 7px !important;
}
html body.cms-brildor-homepage .big-featured {
    margin-left: -30px;
    margin-right: -30px;
}

.card-group {
    display:inline-block;
    vertical-align:top;
    width:100%;
}

html .products-grid .product-items .col-6 {
    padding-left: 7px;
    padding-right: 7px;
}
.card {
    display:inline-block;
    vertical-align:top;
    width:100%;
    position: relative;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem 0px 0px .25rem;
     .card-body {
        float:left;
        padding: 18px 15px;
        width:50%;
          strong {
             a {
                 color:@color-black;
                font-size : @font-size__xs14;
                text-transform: uppercase;
                font-weight:@font-weight__bold;
                margin-bottom: .5rem;
             }
          }
          p {
            padding: 7px 0;
            margin: 0px;
            color:@color-black;
            font-size : @font-size__xs14;
            font-weight:@font-weight__regular;
            line-height: normal;
          }
     }
     .home-category-desktop-image {
        width:50%;
        height: auto;
        display: block !important;
        float:right;
    }
}

h2, .h2 {
    margin: 0;
    margin-bottom: .5em;
    color: @color-gray4a4a4a;
    font-weight:@font-weight__bold;
    font-size: @font-size__xs30;
    font-style: normal;
    line-height: 1.2;
}

.textcenter {
    text-align: center;
    margin-top: 19px;
    padding: 10px 10px 19px 10px;
    font-weight:@font-weight__bold;
    font-size: @font-size__xs30;
    width:100%;
}
.mp-ps-info {
    width:100%;
}
.row .block-content {
    width:100%;
}
.products-grid {
    width:100%;
      .product-image{
         display: inline-block;
         vertical-align: top;
         width: 100%;
         background-color: @color-white;
           .product-image-container {
                display: inline-block;
                vertical-align: top;
                width: 100% !important;
                    .product-image-photo {
                        width: 100%;
                        padding: 35px;
                    }
            }
      }
    .product-info {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0px 10px 19px 10px;
        margin: 0px 0px 14px 0px;
        background-color: @color-white;
            .product-item-name {
                padding:0px;
                margin: 0;
                margin-bottom: .5em;
                color: @color-gray636363;
                font-size: @font-size__xs15;
                font-weight: @font-weight__regular;
                font-style: @font-style__base;
                text-rendering: optimizeLegibility;
                line-height: @line-height__l;
                text-transform: capitalize;
                text-align: center;
                 a {
                   color: @color-gray636363;
                   font-weight: @font-weight__regular;
                   line-height: @line-height__l;
                   font-size: @font-size__xs15;
                   text-decoration: none;
                   text-transform: capitalize;
                     &:hover {
                       opacity: 0.7;
                       text-decoration: none;
                     }
                 }
            }
        .price-box {
            padding: 7px 0;
            text-align: center;
                .price-label {
                  display: none;
                }
                .price {
                    color: @color-orangef8904d;
                    font-size: @font-size__xs19;
                    font-weight: @font-weight__semibold;
                    line-height: @line-height__19;
                }
                .special-price {
                    display: inline-block;
                    padding-right: 5px;
                    vertical-align: top;
                    text-decoration: none;
                        .price {
                            color: @color-orangef8904d;
                            font-size: @font-size__xs19;
                            font-weight: @font-weight__semibold;
                            line-height: @line-height__19;
                        }
                }
                .old-price {
                    display: inline-block;
                    padding-left: 5px;
                    vertical-align: top;
                    text-decoration: none;
                        .price {
                            color: @color-grayB4B4B4;
                            text-decoration: line-through;
                            font-size: @font-size__l;
                            font-weight: @font-weight__semibold;
                            line-height: @line-height__19;
                        }
                }
            .price-to-date {
                color: @color-orangef8904d;
                font-weight: @font-weight__bold;
                font-size: @font-size__xs14;
                line-height:normal;
                padding: 7px 0;
                width:100%;
                display:block;
            }
        }
    }
}

@media all and (max-width: @screen__991xx) {

    .products-grid .product-info .product-item-name {
        min-height: 45px;
    }

    html body.cms-brildor-homepage .columns {
        display: block;
    }

    html body.cms-brildor-homepage .big-featured {
        margin-left: -15px;
        margin-right: -15px;
    }

   .big-featured {
        .portfolio-item{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .card-group {
            padding: 4%;
            text-align: center;
            background-color: @color-white;
            position: relative;
            display: inline-grid;
            vertical-align: top;
            position: relative;
                .card {
                    background-color: transparent;
                    border-radius: 0px;
                        .card-body {
                            position: static;
                            padding: 0px;
                            .card-text-area {
                                width: 100%;
                                display: block;
                                position: static;
                                strong {
                                    position: absolute;
                                    bottom: 0;
                                    top: auto;
                                    left: 0;
                                    width: 100%;
                                    padding: 20px 10px;
                                    background: inherit;
                                    background-attachment: inherit;
                                    background-attachment: fixed;
                                    overflow: hidden;
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            background: inherit;
                                            background-attachment: fixed;
                                            -webkit-filter: blur(4px);
                                            filter: blur(4px);
                                        }
                                        &:after {
                                            content: "";
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            background: rgba(255,255,255,.8);
                                        }
                                        a {
                                            margin: 0;
                                            color: @color-black;
                                            position: relative;
                                            z-index: 1;
                                            text-transform: uppercase;
                                            font-size: @font-size__xs15;
                                            font-weight: 600;
                                        }
                                }
                                .card-text {
                                    display: none;
                                }
                            }
                        }
                        .home-category-desktop-image {
                            width: 100%;
                        }
                }
        }
    }


}

@media all and (max-width: @screen__767xx) {

    html body.cms-brildor-homepage .big-featured {
        margin-left: -7px;
        margin-right: -7px;
    }
    
    .products-grid {
        padding-left: 15px;
        padding-right: 15px;
      }

}

@media all and (max-width: @screen__359xx) {
    
    .big-featured .card-group .card .card-body .card-text-area strong a {
        font-size: @font-size__xs13;
    }

    .products-grid {
        .product-info {
            min-height: 123px;
        }
    }

}

