<div id="demo">
 
    <div id="owl-demo" class="owl-carousel">
 
        <div class="item"><h1>1</h1></div>
        <div class="item"><h1>2</h1></div>
        <div class="item"><h1>3</h1></div>
        <div class="item"><h1>4</h1></div>
        <div class="item"><h1>5</h1></div>
        <div class="item"><h1>6</h1></div>
        <div class="item"><h1>7</h1></div>
        <div class="item"><h1>8</h1></div>
        <div class="item"><h1>9</h1></div>
        <div class="item"><h1>10</h1></div>
        <div class="item"><h1>11</h1></div>
        <div class="item"><h1>12</h1></div>
 
    </div>
 
</div>
 
<script>
    require([
        'personalization/jquery',
        'owlcarousel',
    ], function ($) {
        jQuery(document).ready(function () {
            /*jQuery("#owl-demo").owlCarousel({
                navigation: true
            });*/
            $('.tarkikComandSlider').slick({
   slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 5000,
  dots: true,
  });
        });
    });
</script>
