// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    
    .blue-header-area {
        background-color: @color-blue;
        width:100%;
        display:inline-block;
        vertical-align: top;
            .col {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                padding: 0 !important;
                position: static !important;
                width: auto !important;
            }
          .blog-link {
            float: left;
            width:auto;
            padding: 0px 15px 0px 23px;
            margin: 1px 0px 0px;
              .blog-btn {
                 .btn {
                    border-radius: 3px;
                    line-height: @line-height__l;
                    min-width: 80px;
                    height: 25px;
                    font-size: @font-size__xs14;
                    text-transform: uppercase;
                    font-weight: @font-weight__bold;
                    position: relative;
                    padding: 1% 5px;
                    &:hover{
                        background: @color-orangeF68E32;
                        border: 1px solid @color-orangeF68E32;
                        opacity: 0.7;
                    }
                 }
              } 
          }
          .customer-service {
            float:left;
            width:auto;
            padding-right: 0px;
                .header_right_links {
                    &.header-right-icons {
                      padding-right: 0px;
                    }
                }
              .row {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                }
                .row.h-icons {
                  margin-right: 0px;
                  margin-left: 0px;
                }
                .col-lg-12 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    position: relative;
                    width: 100%;
                    min-height: 1px;
                    padding-right: 15px;
                    padding-left: 28px;
                    margin-top: -3px;
                }
                .no-gutters {
                    margin-right: 0;
                    margin-left: 0;
                }
                .no-gutters > .col {
                    padding-right: 0;
                    padding-left: 0;
                }
                .col {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    padding: 0 !important;
                    position: static !important;
                    width: auto !important;
                }
                .col-4 {
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                    padding: 0;
                }
                .col-5 {
                    -ms-flex: 0 0 41.666667%;
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                    padding: 0;
                }
                .col-7 {
                    -ms-flex: 0 0 58.333333%;
                    flex: 0 0 58.333333%;
                    max-width: 58.333333%;
                    padding: 0;
                }
                .col-8 {
                    -ms-flex: 0 0 66.666667%;
                    flex: 0 0 66.666667%;
                    max-width: 66.666667%;
                    padding: 0;
                }
                a img {
                    width:auto;
                    height: 23px;
                }
                a:hover{
                   opacity:0.7;
                }
                .header-text-contact {
                    margin:0px;
                    padding:0px;
                    margin-left: -6px;
                }
                .header-text-user {
                    margin:0px;
                    padding:0px;
                    margin-left: -4px;
                }
                .header-text {
                    height: auto;
                    font-size: @font-size__xs13;
                    font-weight: @font-weight__bold;
                    line-height: 13px;
                    color: @color-white;
                    padding-top: 1px;
                     a  {
                        height: auto;
                        font-size: @font-size__xs13;
                        font-weight: @font-weight__bold;
                        line-height: 13px;
                        color: @color-white;
                     }
                }
          }
    }
    html .nav-sections {
        background-color: @color-blue;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        float: left;
        width: 58.1%;
    }

    html .navigation ul {
        padding: 0px 0px;
    }

    html .navigation .level0 .submenu {
        background: @color-grayf2f1ef;
        border: 0px solid @color-grayf2f1ef;
        box-shadow: none;
        font-weight: @font-weight__semibold;
        width: 1230px;
        padding: 20px 0;
        margin: 1px auto 0px auto !important;
        display: flex;
        flex-direction: column;
        height: 165px;
        flex-wrap: wrap;
        top: 100% !important;
        opacity:0;
        visibility: hidden;
    }
    html .navigation .level0:hover .submenu {
        opacity:1;
        visibility: visible;
    }
    html .navigation .level0 .submenu:before,
    html .navigation .level0 .submenu:after {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: -2500px;
        width: 5000px;
        margin-left: 0px;
        margin-right: 0px;
        background: @color-grayf2f1ef;
        z-index: -1;
        border: 0px;
        border-bottom: 1px solid @color-graydbdbdb;
    }
    html .navigation .level0 .submenu:after{
     left: auto;
     right: -2500px;
    }

    .navigation {
        .level0 {
            .level0.submenu {
                .level1.submenu  {
                    margin-top: 6px !important;
                    border: 1px solid @color-graydbdbdb;
                    padding: 15px 26px;
                    background: @color-gray90 !important;
                    position: absolute;
                    top: auto !important;
                    left: auto !important;
                    margin-left: -13px !important;
                    z-index: 3000;
                    width: 250px;
                    display: none !important;
                    width: 1055 !important;
                    min-height: 355px;
                      &:before {
                         display: none !important;
                      }
                      &:after {
                         display: none !important;
                      }
                      li {
                        padding: 0px 15px 0px 0px;
                        margin: 0px 0px 15px 0px;
                         a {
                            margin: 0px;
                            padding: 0px;
                            &:before{
                                display: none !important;
                            }
                         }
                      }
                }
            }
        }
    }

    html .navigation .level0 {
        margin: 0 7px 0 0;
    }

    html .navigation .level0 > .level-top {
        color : @color-white;
        line-height: normal;
        padding-bottom: 13px;
        padding-left: 9px;
        padding-right: 9px;
    }

    html .navigation .level0 > .level-top:hover {
        color : @color-white;
        opacity: 0.7;
    }

    html .navigation .level0:nth-child(1) > .level-top {
        font-weight: @font-weight__xbold;
        padding-left: 0px;
        padding-right: 7px;
        position: relative;
        &:before {
            content: "\f0c9";
            font-size: 20px;
            margin: 0px 8px 0px 0px;
            display: inline-block;
            font-family: FontAwesome;
        }
        &:after {
            content: "\f0d7";
            font-size: 12px;
            margin: 0px 9px 0px 14px;
            display: inline-block;
            font-family: FontAwesome;
        }
    }

    html .navigation .level0:nth-child(5) > .level-top {
        color: @color-orangeF68E32;
        font-weight: @font-weight__bold;
        text-transform: uppercase;
    }

    html .navigation .level0:nth-child(6) > .level-top {
        color: @color-orangeF68E32;
        font-weight: @font-weight__bold;
        text-transform: uppercase;
        padding-right: 0px;
    }

    html .navigation .level0.parent > .level-top > .ui-menu-icon:after {
        font-size: 26px;
        line-height: 20px;
        display: none;
    }

    html .navigation .level0.parent > .level-top > .ui-menu-icon {
        position: relative;
        right: 0;
        float: right;
        margin: 0px 0px 0px 7px;
        font-size: 14px;
        color: @color-white;
    }

    html .navigation {
      background-color: @color-blue;
        ul{
          li{
            display: inline-block;
            margin: 0px 25px 0px 0px;
            padding : 0px;
              a {
                 font-size: @font-size__xs16;
                 font-weight: @font-weight__regular;
                 color : @color-white;
                 line-height: normal;
                 text-transform: none;
                    .ui-menu-icon {
                        position: relative;
                        right: 0;
                        float: right;
                        margin: 0px 0px 0px 7px;
                        font-size: 14px;
                        color: @color-white;
                         &:after {
                            font-size: 26px;
                            line-height: 20px;
                         } 
                         &:hover{
                            opacity: 0.7;
                            color : @color-white;
                         }
                    }
              }
            &:nth-child(5) {
               a {
                 color: @color-orangeF68E32;
                 font-weight: @font-weight__bold;
                 text-transform: uppercase;
               }
            }
            &:nth-child(6) {
               a {
                 color: @color-orangeF68E32;
                 font-weight: @font-weight__bold;
                 text-transform: uppercase;
               }
            }
          }
        }
    }

    .navigation {
        .level0 {
            .submenu {
                li{
                    padding:0px 0px 15px 0px;
                    margin:0px;
                    line-height: 16px;
                        a {
                            display: inline-block;
                            vertical-align:top;
                            font-size: @font-size__xs14;
                            line-height: @line-height__15;
                            color: @color-blue063471;
                            font-weight: @font-weight__semibold;
                            padding: 0px 0px 0px 10px;
                            margin:0px 0px 0px 5px;
                            position: relative;
                            text-transform: none;
                            text-decoration: none;
                            background: transparent !important;
                                &:hover{
                                    text-decoration: none;
                                    color: @color-skyblue3399cc;
                                    background: transparent !important;
                                }
                                &:before{
                                    font-family: FontAwesome;
                                    content: "\f0da";
                                    font-weight: @font-weight__xxbold;
                                    color: @color-grayadbbcc;
                                    padding-right: 10px;
                                }
                        }
                }
            }
        }
    }

    .navigation .level0.parent.first > .level-top .ui-menu-icon ~ span:before {
        content: @icon-menu;
        font-size: @font-size__xs19;
        line-height: 19px;
        color: @color-white;
        font-family: 'icons-blank-theme';
        margin: 0px 9px 0px 0px;
        display: inline-block;
        vertical-align: middle;
        top: -1px;
        position: relative;
        display: none;
    }


    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }
        .switcher-dropdown {
            .lib-list-reset-styles();
            display: none;
            padding: @indent__s 0;
        }
        .switcher-options {
            &.active {
                .switcher-dropdown {
                    display: block;
                }
            }
        } 
        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: .8rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__bold;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    html .nav-sections .nav-sections-item-content {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .nav-sections-item-title {
        background: darken(@navigation__background, 5%);
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: @indent__m;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}


@media all and (max-width: @screen__1280xx) { 

    html .blue-header-area .nav-sections .nav-sections-item-content {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    html .nav-sections {
        width: 55%;
    }
}

@media all and (max-width: @screen__1140xx) { 
    html .nav-sections {
        width: 51%;
    }
    html .navigation .level0:nth-child(1) > .level-top {
        padding-right: 0px;
    }
    html .navigation .level0 > .level-top {
        padding-left: 5px;
        padding-right: 5px;
    }
    .blue-header-area .blog-link {
        padding: 0px 1px 0px 0px;
    }
    .blue-header-area {
        .customer-service {
            .col-lg-12 {
                padding-left: 15px;
            }
        }
    }
}


@media all and (max-width: @screen__991xx) {

   
   html .navigation ul {
        padding: 0 0px;
    }
    html .navigation .level0 .submenu {
        width: 719px;
        height: 235px;
    }
    html .nav-sections {
        width: 65%;
        text-align: left;
    }
    

    .blue-header-area {
       text-align: right;
        .minicart-wrapper {
            margin-top: 6px;
        }
        .blog-link {
          float: none;
          width: auto;
          display: inline-block;
          vertical-align: top;
        }
        .col {
            width: auto !important;
            display: inline-block;
            vertical-align: top;
        }
        .customer-service {
            float: none;
            width: 145px;
            display: inline-block;
            vertical-align: top;
            padding-right: 7px;
            margin-top: 9px;
            .row{
              display: block;
            }
           .col {
                width: 28px !important;
                display: inline-block;
                vertical-align: top;
                margin: 0px 10px 0px 0px;
                text-align: center;
                max-width: none;  
            }
            .header-text {
                display: none;
            }
            .col-5 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-4 {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            a {
               img {
                    height: 19px;
                }
            }
        }
    }

}

@media all and (max-width: @screen__767xx) {
    
    .mobile-menu {
        .level0 {
            .level0.submenu {
                .level1.submenu  {
                    display: none !important;
                }
            }
        }
    }

    .blue-header-area {
        .blog-link {
            display: none;
        }
    }
    .nav-toggle {
        left: 0;
        position: relative;
        top: 0;
        float: left;
        margin-right: 10px;
         &:before {
            font-size: 24px;
            color: @color-white;
            content: '\f0c9';
            font-family: 'FontAwesome';
        }
        &:hover:before {
          color: @color-white;
        }
    }

    .logo {
        img {
            max-width: 100px;
        }
    }

    .footer {
        .footer-container {
            .blog-btn-footer {
                float: left;
                width: 100%;
                    button {
                        display: inline-block;
                        text-align: center;
                        vertical-align: top;
                        margin: 0px 0px 20px 0px;
                    }
            }
         }
    }

    
    .blue-header-area {
        float: right;
        max-width: 150px;
            .customer-service {
                width: 117px;
                padding-right: 9px;
                margin-top: 12px;
                padding-left: 0;
                float: left;
                .row {
                  margin-left: 0px;
                }
                .col-lg-12.header_right_links.header-right-icons {
                    padding-left:0px;
                    padding-right:0px;
                }
                .col {
                    width: 28px !important;
                    margin: 0px 9px 0px 0px;
                    text-align: center;
                    max-width: none;
                }
                a{
                  img {
                    height: 20px;
                    width: 23px;
                  }
                }
                .col-5 {
                  a {
                     img {
                       width: 26px;
                     }
                  }
                }
            }


        .nav-sections-item-content {
            margin: 0px;
            padding: 0px 0px;
        }

        .nav-sections {
            display: none;
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 100px;
            overflow: hidden;
            box-shadow: none !important;
               .section-items {
                  margin: 0px;
                    .nav-sections-item-title {
                        display: none;
                    }  
               }
               .navigation {
                     padding: 0px;
                     margin: 0px;
                        ul {
                          background: @color-blue;
                          padding: 8px 15px 10px;
                          display: grid;
                          grid-template-columns: repeat(3,1fr);
                            li{
                                margin: 0px;
                                padding: 0px;
                                line-height: 16px;
                                border: 0px !important;
                                position: relative;
                                    a {
                                        text-transform: none;
                                        font-size: @font-size__xs14;
                                        margin: 0px;
                                        padding: 0px;
                                        line-height: 16px;
                                        display: inline-block;
                                        vertical-align: top;
                                    }
                                &:last-child {
                                    border: 0px !important;
                                }
                                &:before {
                                    font-family: FontAwesome;
                                    content: "\f0da";
                                    font-weight: @font-weight__xxbold;
                                    color: @color-white;
                                    font-weight: @font-weight__regular;
                                    padding-right: 10px;
                                    display: inline-block;
                                    vertical-align: top;
                                }
                            }
                        }
                }
                .mobile-menu {
                    height: 630px;
                    padding: 10px 15px;
                    margin-top: 0;
                    width: 100vw;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 54%;
                        width: 100vw;
                        margin-left: calc(-50vw - 4px);
                        margin-right: -50vw;
                        background: @color-grayf2f1ef;
                        z-index: -1;
                        border-bottom: 1px solid @color-graydbdbdb;
                    }
                    ul{
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: 600px;
                        padding: 0px 0px;
                        margin-top: 0;
                        width: 100vw;
                          li {
                             line-height: 35px;
                             margin: 0px;
                             padding: 0px;
                                a {
                                    color: @color-blue063471;
                                    font-weight: @font-weight__heavier;
                                    text-transform: none;
                                    text-decoration: none;
                                    font-size: @font-size__xs14;
                                    line-height: 35px;
                                    margin: 0px;
                                    padding: 0px;
                                    &:hover {
                                      background: none;
                                      opacity: .7;
                                      text-decoration: none;
                                      color: @color-blue063471;
                                    }
                                    &:before {
                                        font-family: FontAwesome;
                                        content: "\f0da";
                                        font-weight: @font-weight__xxbold;
                                        color: @color-grayadbbcc;
                                        padding-right: 10px;
                                    }
                                }
                          }
                    }
                }
        }
        
    }

    .blue-header-area .nav-sections .navigation > ul > li:first-child {
        display: none;
    }

    .blue-header-area .nav-sections .mobile-menu > ul > li > a{
        display: none;
    }
    
    html.nav-open body .nav-toggle:after {
        display: none !important;
    }
    html.nav-open body .page-wrapper {
        left: 0px !important;
    }
    html.nav-open body .blue-header-area .nav-sections {
        display: block;
    }
    .nav-before-open,
    .nav-before-open body,
    .nav-before-open .page-wrapper{
        overflow: visible !important;
    }
    html body .page-wrapper {
        overflow-x: hidden !important;
    }
    

}
