// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Responsive variables
//  _____________________________________________

@use-flex: true; // Use flexbox [true|false]
@responsive: true; // Theme is responsive [true|false]

@screen__xxs: 320px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__xl: 1440px;

@screen__13xx: 1370px;
@screen__1280xx: 1280px;
@screen__12xx: 1200px;
@screen__1199xx: 1199px;
@screen__1140xx: 1140px;
@screen__992xx: 992px;
@screen__991xx: 991px;
@screen__767xx: 767px;
@screen__576xx: 576px;
@screen__575xx: 575px;
@screen__479xx: 479px;
@screen__199xx: 199px;
@screen__359xx: 359px;
